@import './_shared.scss';
$text-color: lighten(#bdc3c7, 8%);

#about-me {
  margin: 130px calc(10px + 5%);
  @media screen and (max-width: $break-md) {
    text-align: center;
  }

  #zuke-driving {
    display: block;
    margin: 10px auto;
    border-radius: 30%;
    @media screen and (max-width: $break-md) {
      margin: 10px auto;
    }
  }

  #about-text {
    display: block;
    text-align: center;
    width: calc(200px + 50%);
    margin: 20px auto;
    font-size: 20px;
    color: $text-color;
    @media screen and (max-width: $break-md) {
      display: block;
      width: 90%;
      text-align: center;
    }
  }

  h2 {
    color: lighten(#27ae60,8%);
    font-size: 36px;
  }

  h3 {
    color: #f1c40f;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 40px;
  }

  .fcc-link {
    margin-left: 35px;

    a {
      font-size: 20px;
      color: lighten(#3498db, 13%);
      &:visited {
        color: lighten(#9b59b6, 13%);
      }
    }

    @media screen and (max-width: $break-md) {
    text-align: center;
    margin-left: 0px;
  }
  }

  .course {
    color: $text-color;
    font-size: 20px;
    @media screen and (max-width: $break-md) {
    margin-left: 0px;
  }
    margin-left: 35px;

    p {
      display: inline;
    }

    span {
      display: inline;
      float: right;
      position: relative;
      right: 6%;
      @media screen and (max-width: $break-md) {
        display: block;
        float: none;
        position: static;
        margin: 5px auto 10px auto;
        color: lighten(#f1c40f, 26%);
      }

      &#md-date {
        display: inline;
        @media screen and (max-width: $break-md) {
          display: none;
        }
      }

      &#sm-date {
        display: none;
        @media screen and (max-width: $break-md) {
          display: block;
        }
      }

    }
  }
  ul {
    @extend %flex;
    justify-content: space-between;
    flex-direction: column;
    width: 102%;
    position: relative;

    @media screen and (max-width: $break-md) {
      display: block;
      width: 100%;
      right: 20px;
    }

    li {
      color: $text-color;
      flex-shrink: 0;
      width: 250px;
      text-align: left;
      margin: auto 20px;
      font-size: 20px;
      @media screen and (max-width: $break-md) {
        width: 100%;
        text-align: center;
        list-style-type: none;
        position: relative;
        right: 30px;
      }
    }
  }

}
