@import './_shared.scss';

#home {
  text-align: center;
  margin-top: 200px;

  #name {
    text-align: center;
    color: lighten($beige-yellow,2%);
    font: 42px $heading;
    text-shadow:  1px 1px black;

    padding: 20px;
    width:230px;
    max-width: 80%;

    margin:auto;
    background-color: darken($blue,5%);
    border: 3px outset $beige-yellow;
  }

  #job-title {
    position: relative;
    top: -16px;
    left: 55px;
    margin: 0px auto 20px auto;

    text-align: center;
    color: darken($blue,10%);
    font: 500 22px $heading;
    text-shadow: 1px 0px black;

    padding: 10px;
    background-color: lighten($beige-yellow,5%);
    opacity: 1;
    width: 210px;
    max-width: 80%;
    border: 3px solid darken($blue,10%);

    @media screen and (max-width: $break-sm) {
      left: 0px;
    }
  }



  #media-links {
      margin-top: 80px;
    a {
      display: inline-block;
      padding: 10px 20px 20px 20px;
      line-height: 40px;
      font: 20px serif;
      margin: 10px;
      background-color: #CCC;
      border: 3px outset #888;
      white-space: nowrap;
      color: $purple;
      text-decoration: none;

      i {
        position: relative;
        top: 5px;
        color: $purple;
        font-size: 32px;
        margin-right: 10px;
      }
    }

  }

  .button {
    display: inline-block;
    background-color: darken(#2ecc71,12%);
    border: 2px outset darken(#2ecc71,12%);
    color: white;
    font-family: $body;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 15px;
    text-decoration: none;

    @media screen and (max-width: $break-sm) {
      display: block;
      max-width: 200px;
      margin: 20px auto;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      border: 2px inset darken(#2ecc71,15%);
    }

  }

}
