@import './_shared.scss';

#nav-item {
  position: relative;
  bottom: 10px;
  display: inline;
  margin: 0 calc(4% + 5px);
  font-family: serif;
  @media screen and (max-width: 375px) {
    font-size: 14px;
    margin: 0 calc(3% + 2px);
  }

  .link {
    text-decoration: none;
    color: $beige-yellow;
    &:hover {
      color: $purple;
      cursor: pointer;
    }
    &.selected {
      color: $purple;
    }
  }
}
