@import './_shared.scss';

#nav-item {
  position: relative;
  bottom: 15px;
  display: inline;
  margin: 0 calc(4% + 5px);
  font-family: $body;
  @media screen and (max-width: 375px) {
    font-size: 14px;
    margin: 0 calc(3% + 2px);
  }

  .link {
    text-decoration: none;
    //color: #2980b9;
    color: white;
    &:hover {
      color: #AAA;
      cursor: pointer;
      &.selected {
        color: white;
      }
    }
    
    &.selected {
      //color: lighten(#5b29c6,33%);
      border-bottom: 2px solid white;
    }
  }
}
