@import "./shared.scss";

#projects {
  margin: 150px 20px;
  @media screen and (max-width: 350px) {
    margin: 150px 10px;
  }

  button {
    outline: none;
    color: white;
    border: 3px outset white;
    font: bold 20px sans-serif;
  }

  #button-container {
    text-align: center;

    button {
      background-color: black;
      padding: 5px 10px;
      border-radius: 0px;
      border: 3px outset white;
      outline: none;

      color: white;
      font-size: 20px;
      @media screen and (max-width: 400px) {
        font-size: 16px;
      }

      &.active {
        background-color: white;
        color: black;
        border: 4px inset #555;
      }

      &:hover {
        cursor: pointer;
      }
    }

  }

  #project-box {
    margin: 20px auto;
    width: auto;
    @extend %flex;
    justify-content: center;
    font-size: 14px;

    .empty-box {
      height: 0px;
      margin: 0px 30px;
      width: 300px;
      min-width: 24vw;
      @media screen and (max-width: 400px) {
        margin: 0px auto;
      }
    }

    .flippable {
      perspective: 1000px;
      min-width: 24vw;
      min-height: 28vw;
      width: 300px;
      height: 350px;
      margin: 20px 30px;
      @media screen and (max-width: 400px) {
        margin: 20px auto;
      }


       &:hover {
        .project-card {
          .card-front {
            transform: rotateY(180deg);
          }
          .card-back {
            transform: rotateY(0deg);
         }
        }
      }

      .project-card {
        min-width: 24vw;
        min-height: 28vw;
        width: 300px;
        height: 350px;

        transform-style: preserve-3d;
        position: relative;


        h3 {
          text-align: center;
          color: #665566;
          font-size: 24px
        }

        .card-front, .card-back {
          transition: 0.6s;
          backface-visibility: hidden;
          border-radius: 18px;
          position: absolute;
          top: 0;
          left: 0;
          min-width: 24vw;
          min-height: 28vw;
          width: 300px;
          height: 350px;
        }

        .card-front {

          h3 {
            position: relative;
            bottom: 10px;
          }
        }

        .card-back {
          position: relative;
          z-index: 2;
          height: 350px;
          min-height: 28vw;

          transform: rotateY(180deg);

          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          h3 {
            margin-top: 10px;
            margin-bottom: 0px;
          }

          h4 {
            font-size: 1rem;

            .tool {
              border-color: $blue;
              background-color: $blue;
              font-size: 0.8rem;
              padding: 1px;
              margin-right: 5px;
              margin-top: 5px;
            }

            .tool:hover {
              cursor: pointer;
            }
          }

          .card-actions {
            position: absolute;
            bottom: 10px;
            min-width: 21vw;
            width:  260px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .linkButton {
              position: relative;
            }

            a {
              i {
                font-size: 48px;
                color: darken($purple, 10%);
              }
            }

            .tooltip {
              position: absolute;
              width: auto;
              top: 2px;
              left: 75%;
              padding: 0px 6px;
              background-color: black;
              border-radius: 6px;
              color: white;
              font-size: 12px;
              visibility: hidden;
              white-space: nowrap;
            }

            .linkButton:hover .tooltip {
              visibility: visible;
            }

          }
        }
      }
    }

  }

  .pages {
    text-align: center;
    p {
      display: inline;
      color: $beige-yellow;
      font-size:20px;
      margin: 0px 15px;
      cursor: pointer;

      &.active {
        color: white;
        text-decoration: underline;
        cursor: default;
      }

      &.text {
        position: relative;
        bottom: 2px;
        font-size: 18px;
        &.hidden {
          visibility: hidden;
        }
      }
    }
  }

}
