//variables

$purple: #500080;
$blue: darken(#2980b9,10%);
$beige-yellow: lighten(#f1c40f, 25%);
$break-md: 600px;
$break-sm: 400px;
$heading: 'Fjalla One', sans-serif;
$body: 'Noto Sans', sans-serif;


//placeholders
%flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

//mix-ins
