#about-me ul, #projects #project-box {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }

#about-me ul, #projects #project-box {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }

#about-me {
  margin: 130px calc(10px + 5%); }
  @media screen and (max-width: 600px) {
    #about-me {
      text-align: center; } }
  #about-me #zuke-driving {
    display: block;
    margin: 10px auto;
    border-radius: 30%; }
    @media screen and (max-width: 600px) {
      #about-me #zuke-driving {
        margin: 10px auto; } }
  #about-me #about-text {
    display: block;
    text-align: center;
    width: calc(200px + 50%);
    margin: 20px auto;
    font-size: 20px;
    color: white; }
    @media screen and (max-width: 600px) {
      #about-me #about-text {
        display: block;
        width: 90%;
        text-align: center; } }
  #about-me h2 {
    color: #FFAA88;
    font-size: 36px; }
  #about-me h3 {
    color: #FFD853;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 40px; }
  #about-me .fcc-link {
    margin-left: 35px; }
    #about-me .fcc-link a {
      font-size: 20px;
      color: #D3D3A0; }
      #about-me .fcc-link a:visited {
        color: #500080; }
    @media screen and (max-width: 600px) {
      #about-me .fcc-link {
        text-align: center;
        margin-left: 0px; } }
  #about-me .course {
    color: white;
    font-size: 20px;
    margin-left: 35px; }
    @media screen and (max-width: 600px) {
      #about-me .course {
        margin-left: 0px; } }
    #about-me .course p {
      display: inline; }
    #about-me .course span {
      display: inline;
      float: right;
      position: relative;
      right: 6%; }
      @media screen and (max-width: 600px) {
        #about-me .course span {
          display: block;
          float: none;
          position: static;
          margin: 5px auto 10px auto;
          color: yellow; } }
      #about-me .course span#md-date {
        display: inline; }
        @media screen and (max-width: 600px) {
          #about-me .course span#md-date {
            display: none; } }
      #about-me .course span#sm-date {
        display: none; }
        @media screen and (max-width: 600px) {
          #about-me .course span#sm-date {
            display: block; } }
  #about-me ul {
    justify-content: space-between;
    flex-direction: column;
    width: 102%;
    position: relative; }
    @media screen and (max-width: 600px) {
      #about-me ul {
        display: block;
        width: 100%;
        right: 20px; } }
    #about-me ul li {
      color: white;
      flex-shrink: 0;
      width: 250px;
      text-align: left;
      margin: auto 20px;
      font-size: 20px; }
      @media screen and (max-width: 600px) {
        #about-me ul li {
          width: 100%;
          text-align: center;
          list-style-type: none;
          position: relative;
          right: 30px; } }

#about-me ul, #projects #project-box {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }

#home {
  text-align: center;
  margin-top: 200px; }
  #home #name {
    text-align: center;
    color: #D3D3A0;
    font: bold 36px helvetica;
    text-shadow: 1px 1px black;
    padding: 20px;
    width: 230px;
    max-width: 80%;
    margin: auto;
    background-color: #005080;
    border: 3px outset #D3D3A0; }
  #home #job-title {
    position: relative;
    top: -16px;
    left: 55px;
    margin: auto;
    text-align: center;
    color: #058;
    font: 500 22px sans-serif;
    text-shadow: 1px 0px black;
    padding: 10px;
    background-color: #DDA;
    opacity: 1;
    width: 210px;
    max-width: 80%;
    border: 3px outset #058; }
    @media screen and (max-width: 400px) {
      #home #job-title {
        left: 0px; } }
  #home #media-links {
    margin-top: 80px; }
    #home #media-links a {
      display: inline-block;
      padding: 10px 20px 20px 20px;
      line-height: 40px;
      font: 20px serif;
      margin: 10px;
      background-color: #CCC;
      border: 3px outset #888;
      white-space: nowrap;
      color: #500080;
      text-decoration: none; }
      #home #media-links a i {
        position: relative;
        top: 5px;
        color: #500080;
        font-size: 32px;
        margin-right: 10px; }

#about-me ul, #projects #project-box {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }

#nav-item {
  position: relative;
  bottom: 10px;
  display: inline;
  margin: 0 calc(4% + 5px);
  font-family: serif; }
  @media screen and (max-width: 375px) {
    #nav-item {
      font-size: 14px;
      margin: 0 calc(3% + 2px); } }
  #nav-item .link {
    text-decoration: none;
    color: #D3D3A0; }
    #nav-item .link:hover {
      color: #500080;
      cursor: pointer; }
    #nav-item .link.selected {
      color: #500080; }

#about-me ul, #projects #project-box {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }

#projects {
  margin: 150px 20px; }
  @media screen and (max-width: 350px) {
    #projects {
      margin: 150px 10px; } }
  #projects button {
    outline: none;
    color: white;
    border: 3px outset white;
    font: bold 20px sans-serif; }
  #projects #button-container {
    text-align: center; }
    #projects #button-container button {
      background-color: black;
      padding: 5px 10px;
      border-radius: 0px;
      border: 3px outset white;
      outline: none;
      color: white;
      font-size: 20px; }
      @media screen and (max-width: 400px) {
        #projects #button-container button {
          font-size: 16px; } }
      #projects #button-container button.active {
        background-color: white;
        color: black;
        border: 4px inset #555; }
      #projects #button-container button:hover {
        cursor: pointer; }
  #projects #project-box {
    margin: 20px auto;
    width: auto;
    justify-content: center;
    font-size: 14px; }
    #projects #project-box .flippable {
      perspective: 1000px;
      width: 300px;
      height: 350px;
      margin: 20px 30px; }
      @media screen and (max-width: 400px) {
        #projects #project-box .flippable {
          margin: 20px auto; } }
      #projects #project-box .flippable:hover .project-card .card-front {
        transform: rotateY(180deg); }
      #projects #project-box .flippable:hover .project-card .card-back {
        transform: rotateY(0deg); }
      #projects #project-box .flippable .project-card {
        width: 300px;
        height: 350px;
        transform-style: preserve-3d;
        position: relative; }
        #projects #project-box .flippable .project-card h3 {
          text-align: center;
          color: #665566;
          font-size: 24px; }
        #projects #project-box .flippable .project-card .card-front, #projects #project-box .flippable .project-card .card-back {
          transition: 0.6s;
          backface-visibility: hidden;
          border-radius: 18px;
          position: absolute;
          top: 0;
          left: 0;
          width: 300px;
          height: 350px; }
        #projects #project-box .flippable .project-card .card-front h3 {
          position: relative;
          bottom: 10px; }
        #projects #project-box .flippable .project-card .card-back {
          z-index: 2;
          transform: rotateY(180deg);
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          #projects #project-box .flippable .project-card .card-back h4 {
            font-size: 1rem; }
            #projects #project-box .flippable .project-card .card-back h4 .tool {
              border-color: #005080;
              background-color: #005080;
              font-size: 0.8rem;
              padding: 1px;
              margin-right: 5px;
              margin-top: 5px; }
          #projects #project-box .flippable .project-card .card-back .card-actions {
            margin-top: -25px;
            width: 260px;
            position: relative;
            left: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly; }
            #projects #project-box .flippable .project-card .card-back .card-actions a i {
              font-size: 48px;
              color: #500080; }
  #projects .pages {
    text-align: center; }
    #projects .pages p {
      display: inline;
      color: #D3D3A0;
      font-size: 20px;
      margin: 0px 15px;
      cursor: pointer; }
      #projects .pages p.active {
        color: white;
        text-decoration: underline;
        cursor: default; }
      #projects .pages p.text {
        position: relative;
        bottom: 2px;
        font-size: 18px; }
        #projects .pages p.text.hidden {
          visibility: hidden; }

h1 {
  margin: 100px auto 30px auto;
  text-align: center;
  margin-bottom: 40px;
  color: white; }

nav {
  display: block;
  background-color: #058;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  padding: 12px 0;
  border-bottom: 1px solid #DDA;
  z-index: 10; }

nav ul {
  font-weight: bold;
  text-align: center;
  padding: 15px; }
