@import './shared';
@import './AboutMe';
@import './Home';
@import './NavItem';
@import './Projects';


h1 {
  margin: 100px auto 30px auto;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

nav {
  display: block;
  background-color: darken(#16a085,15%);
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  padding: 12px 0px;
  border-bottom: 2px outset #7f8c8d;
  z-index: 10;
}

nav ul {
    font-weight: bold;
    text-align: center;
    padding: 15px;
}
